html {
  font-size: 62.5%; }

@font-face {
  font-family: "montserrat-light";
  src: url("fonts/Montserrat-Light.otf"); }
@font-face {
  font-family: "montserrat-regular";
  src: url("fonts/Montserrat-Regular.otf"); }
@font-face {
  font-family: "montserrat-bold";
  src: url("fonts/Montserrat-Bold.otf"); }
@font-face {
  font-family: "montserrat-italic";
  src: url("fonts/Montserrat-MediumItalic.otf"); }
.header {
  width: 100%;
  background: #FDC00C;
  color: #191919;
  grid-area: h;
  display: flex;
  height: 9vh; }
  .header__logo-ctn {
    width: 80%; }
    .header__logo-ctn__img {
      width: 55%; }
  .header__menu-desktop {
    display: flex;
    height: 100%;
    display: none;
    width: 20%; }
    .header__menu-desktop__item {
      width: 50%; }
  .header__menu-mobile {
    width: 13%;
    margin-top: 12%; }
    .header__menu-mobile div:nth-child(1) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    .header__menu-mobile div:nth-child(2) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    .header__menu-mobile div:nth-child(3) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    .header__menu-mobile.open div:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header__menu-mobile.--open div:nth-child(2) {
      width: 0%;
      opacity: 0; }
    .header__menu-mobile.open div:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .header__menu-mobile__burger {
      width: 100%;
      height: 0.7vh;
      background: #fff;
      margin: 1vh 0;
      border-radius: 30px; }
  .header__menu-mobile:hover {
    cursor: pointer; }
  .header__menu-mobile-details {
    display: none;
    position: absolute;
    height: 91vh;
    font-family: "montserrat-regular";
    z-index: 1;
    color: #fff;
    top: 9vh;
    left: 0;
    width: 100%; }
    .header__menu-mobile-details__item, .header__menu-mobile-details__category {
      height: 6vh;
      text-align: center;
      font-size: 4.5vw;
      text-transform: uppercase;
      padding-top: 3.2vh; }
  .header__menu-mobile-details > li:nth-child(odd) {
    background: #191919; }
  .header__menu-mobile-details > li:nth-child(even) {
    background: #000; }

.footer {
  grid-area: f;
  background: #4A4A4A;
  width: 100%; }
  .footer__content {
    width: 90%;
    margin: auto; }
    .footer__content__list {
      display: flex;
      margin: auto;
      padding-top: 5%;
      width: 100%;
      justify-content: space-around;
      width: 70%; }
      .footer__content__list__item {
        width: 25%;
        text-align: center; }
        .footer__content__list__item__icon {
          width: 60%;
          transform: scale(1);
          transition: transform 0.3s; }
        .footer__content__list__item__icon:hover {
          transform: scale(1.1);
          transition: transform 0.3s; }
    .footer__content__newsletter {
      text-align: center;
      margin-top: 8%;
      font-family: montserrat-regular;
      font-size: 1.3rem; }
      .footer__content__newsletter__link {
        color: #FDC00C; }
    .footer__content__credit {
      text-align: center;
      color: #fff;
      margin: 8% 0 3% 0;
      font-family: montserrat-regular;
      font-size: 1rem; }

.main {
  width: 100%;
  background: #191919;
  grid-area: m;
  min-height: 91vh; }
  .main__selection-container__categoryTitle {
    font-family: "montserrat-regular";
    color: #fff;
    font-size: 3.5vw;
    text-transform: uppercase;
    text-align: center;
    padding: 4vh 0 2vh 0;
    height: 4vh; }
  .main__selection-container__grid {
    width: 90%;
    margin: auto;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-rows: auto;
    grid-gap: 2vh 2vh; }
    .main__selection-container__grid__week-movie {
      width: 100%; }
  .main__selected-movie {
    height: 81vh;
    display: none;
    width: 90%;
    margin: auto;
    color: #fff;
    font-family: "montserrat-regular";
    font-size: 2vh;
    text-align: center; }
    .main__selected-movie__video {
      text-align: center; }
    .main__selected-movie__description-ctn {
      text-align: left; }
    .main__selected-movie__button {
      position: absolute;
      color: #fff;
      font-size: 3.5vw;
      border: 1.5px solid #FDC00C;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 50vw;
      bottom: 4vh;
      border-radius: 50px;
      padding: 1.2vh;
      text-align: center;
      transition: all .2s; }
    .main__selected-movie__button:hover {
      background: #FDC00C; }
  .main__week-selection-ctn > img {
    overflow: hidden;
    transition: transform .3s ease-in-out; }
  .main__week-selection-ctn > img:hover {
    cursor: pointer;
    transform: scale(1.1); }

.--hidden {
  display: none; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.global-ctn {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 'h h h h h h h h h h h h' 'm m m m m m m m m m m m' 'f f f f f f f f f f f f'; }

.--visible {
  display: block; }

/*# sourceMappingURL=main.css.map */
