html {
  font-size: 62.5%; }

@font-face {
  font-family: "montserrat-light";
  src: url("fonts/Montserrat-Light.otf"); }
@font-face {
  font-family: "montserrat-regular";
  src: url("fonts/Montserrat-Regular.otf"); }
@font-face {
  font-family: "montserrat-bold";
  src: url("fonts/Montserrat-Bold.otf"); }
@font-face {
  font-family: "montserrat-italic";
  src: url("fonts/Montserrat-MediumItalic.otf"); }
.header {
  width: 100%;
  background: #FDC00C;
  color: #191919;
  grid-area: h;
  display: flex;
  align-items: center;
  height: 8vh;
  width: 100vw; }
  .header__logo-ctn {
    margin-left: 2%;
    width: 40%; }
    @media only screen and (min-width: 481px) {
      .header__logo-ctn {
        width: 20%; } }
    .header__logo-ctn__img {
      width: 90%; }
      @media only screen and (min-width: 481px) {
        .header__logo-ctn__img {
          width: 100%; } }
      @media only screen and (min-width: 681px) {
        .header__logo-ctn__img {
          width: 90%; } }
      @media only screen and (min-width: 961px) {
        .header__logo-ctn__img {
          width: 70%; } }
  .header__nav {
    display: none; }
    @media only screen and (min-width: 681px) {
      .header__nav {
        display: block;
        width: 40%; } }
    @media only screen and (min-width: 961px) {
      .header__nav {
        width: 50%;
        margin: 0 5%; } }
    .header__nav__list {
      display: flex;
      justify-content: space-around; }
      .header__nav__list__items {
        color: #fff;
        font-family: "montserrat-regular";
        font-size: 1.2rem;
        text-transform: uppercase; }
        .header__nav__list__items:hover {
          cursor: pointer;
          text-decoration: underline; }
        @media only screen and (min-width: 961px) {
          .header__nav__list__items {
            font-size: 1.3rem; } }
  .header__search-bar {
    width: 46%;
    background: #191919;
    color: #fff;
    border-radius: 100px;
    font-size: 1rem;
    font-family: "montserrat-regular";
    border: solid 1px #000;
    height: 4vh;
    padding-left: 3%;
    margin-right: 4%;
    margin-left: auto; }
    @media only screen and (min-width: 681px) {
      .header__search-bar {
        width: 20%;
        margin-right: 2%; } }
    @media only screen and (min-width: 961px) {
      .header__search-bar {
        width: 15%; } }
  .header__profile-container {
    position: relative;
    display: inline-block;
    width: 10%;
    margin-right: 2%;
    margin-left: auto; }
    @media only screen and (min-width: 481px) {
      .header__profile-container {
        width: 7%; } }
    @media only screen and (min-width: 681px) {
      .header__profile-container {
        width: 5%; } }
    @media only screen and (min-width: 961px) {
      .header__profile-container {
        width: 4%; } }
    .header__profile-container__img {
      width: 100%;
      cursor: pointer; }
  .header__dropdown-list {
    display: none;
    color: #fff;
    position: absolute;
    background: #191919;
    width: 100vw;
    z-index: 1;
    right: 0;
    top: 8vh;
    height: 92vh; }
    @media only screen and (min-width: 481px) {
      .header__dropdown-list {
        width: 20vh;
        height: auto; } }
    .header__dropdown-list > li:nth-child(odd) {
      background: #191919; }
      @media only screen and (min-width: 481px) {
        .header__dropdown-list > li:nth-child(odd) {
          background: #fff;
          border: 0.5px solid #FDC00C;
          color: #000; }
          .header__dropdown-list > li:nth-child(odd):hover {
            background: #FDC00C;
            color: #fff; } }
    .header__dropdown-list > li:nth-child(even) {
      background: #000; }
      @media only screen and (min-width: 481px) {
        .header__dropdown-list > li:nth-child(even) {
          background: #fff;
          border-top: 0.5px solid #FDC00C;
          color: #000; }
          .header__dropdown-list > li:nth-child(even):hover {
            background: #FDC00C;
            color: #fff; } }
    .header__dropdown-list__items {
      display: block;
      height: 9.2vh;
      text-align: center;
      font-size: 4.5vw;
      text-transform: uppercase;
      font-family: "montserrat-regular";
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (min-width: 481px) {
        .header__dropdown-list__items {
          height: 5vh;
          font-size: 1.2rem; } }

.footer {
  grid-area: f;
  background: #4A4A4A;
  width: 100%; }
  .footer__content {
    width: 90%;
    margin: auto; }
    .footer__content__list {
      display: flex;
      margin: auto;
      padding-top: 5%;
      width: 100%;
      justify-content: space-around;
      width: 70%; }
      .footer__content__list__item {
        width: 25%;
        text-align: center; }
        .footer__content__list__item__icon {
          width: 60%;
          transform: scale(1);
          transition: transform 0.3s; }
        .footer__content__list__item__icon:hover {
          transform: scale(1.1);
          transition: transform 0.3s; }
    .footer__content__newsletter {
      text-align: center;
      margin-top: 8%;
      font-family: montserrat-regular;
      font-size: 1.3rem; }
      .footer__content__newsletter__link {
        color: #FDC00C; }
    .footer__content__credit {
      text-align: center;
      color: #fff;
      margin: 8% 0 3% 0;
      font-family: montserrat-regular;
      font-size: 1rem; }

.main {
  width: 100%;
  background: #191919;
  grid-area: m;
  min-height: 90vh;
  width: 100vw; }
  .main__selection-container__wrapper-container {
    width: 80%;
    display: flex;
    margin: 10% auto;
    position: relative; }
    .main__selection-container__wrapper-container__label {
      background: #FDC00C;
      padding: 0 3%;
      font-size: 1rem;
      width: 28%;
      height: 4.5vh;
      text-transform: uppercase;
      font-family: "montserrat-regular";
      display: flex;
      align-items: center;
      justify-content: center; }
    .main__selection-container__wrapper-container__wrapper {
      font-size: 1.1rem;
      width: 98%;
      height: 4.5vh;
      background: #fff;
      color: #000;
      font-family: "montserrat-regular";
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-left: 2%; }
    .main__selection-container__wrapper-container__dropdown-list {
      display: none;
      position: absolute;
      top: 4.5vh;
      right: 0;
      background: #fff;
      z-index: 3;
      width: 73%;
      border-top: 0.5px solid #000; }
      .main__selection-container__wrapper-container__dropdown-list > li {
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        font-family: "montserrat-regular"; }
        .main__selection-container__wrapper-container__dropdown-list > li:hover {
          cursor: pointer;
          background-color: #191919;
          color: #fff; }
    .main__selection-container__wrapper-container__button {
      width: 10%;
      height: 4.5vh;
      background: #fff;
      text-align: center; }
      .main__selection-container__wrapper-container__button:hover {
        cursor: pointer; }
      .main__selection-container__wrapper-container__button__down-arrow {
        width: 50%;
        padding-top: 1vh; }
        @media only screen and (min-width: 481px) {
          .main__selection-container__wrapper-container__button__down-arrow {
            width: 40%; } }
        @media only screen and (min-width: 681px) {
          .main__selection-container__wrapper-container__button__down-arrow {
            width: 30%; } }
        @media only screen and (min-width: 961px) {
          .main__selection-container__wrapper-container__button__down-arrow {
            width: 20%;
            justify-content: right; } }
  .main__selection-container__grid {
    width: 70%;
    margin: auto;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-rows: auto;
    grid-gap: 5vh;
    overflow: hidden; }
    @media only screen and (min-width: 481px) {
      .main__selection-container__grid {
        grid-template-columns: repeat(2, 1fr);
        width: 80%; } }
    @media only screen and (min-width: 681px) {
      .main__selection-container__grid {
        grid-template-columns: repeat(3, 1fr); } }
    @media only screen and (min-width: 961px) {
      .main__selection-container__grid {
        grid-template-columns: repeat(4, 1fr); } }
    .main__selection-container__grid__img-container {
      background: #000;
      width: 100%;
      position: relative; }
      .main__selection-container__grid__img-container__img {
        width: 100%; }
      .main__selection-container__grid__img-container__play-sign-container {
        transition: all 0.3s;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(1, 1, 1, 0.25); }
        .main__selection-container__grid__img-container__play-sign-container:hover {
          cursor: pointer;
          transition: all 0.3s;
          opacity: 1;
          z-index: 2; }
        .main__selection-container__grid__img-container__play-sign-container__play-sign {
          width: 30%;
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 45%;
          margin: auto; }
    .main__selection-container__grid__title {
      padding: 5% 0;
      color: #fff;
      font-size: 1.3rem;
      font-family: "montserrat-regular";
      text-align: center;
      text-transform: uppercase;
      line-height: 1.8rem; }
  .main__selected-movie {
    height: 81vh;
    display: none;
    width: 90%;
    margin: auto;
    color: #fff;
    font-family: "montserrat-regular";
    font-size: 2vh;
    text-align: center; }
    .main__selected-movie__video {
      text-align: center; }
    .main__selected-movie__description-ctn {
      text-align: left; }
    .main__selected-movie__button {
      position: absolute;
      color: #fff;
      font-size: 3.5vw;
      border: 1.5px solid #FDC00C;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 50vw;
      bottom: 4vh;
      border-radius: 50px;
      padding: 1.2vh;
      text-align: center;
      transition: all 0.2s; }
    .main__selected-movie__button:hover {
      background: #FDC00C; }
  .main__week-selection-ctn > img {
    overflow: hidden;
    transition: transform 0.3s ease-in-out; }
  .main__week-selection-ctn > img:hover {
    cursor: pointer;
    transform: scale(1.1); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.global-ctn {
  width: 100vw;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 'h h h h h h h h h h h h' 'm m m m m m m m m m m m' 'f f f f f f f f f f f f'; }

.--mobile {
  display: block; }
  @media only screen and (min-width: 481px) {
    .--mobile {
      display: none; } }

.--tablet {
  display: block; }
  @media only screen and (min-width: 681px) {
    .--tablet {
      display: none; } }

.--hidden {
  display: none; }

.--visible {
  display: block; }

.--is-active {
  text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
