.footer {
  grid-area: f;
  background: #4A4A4A;
  width: $container-size;
  &__content {
    width: $content-size;
    margin: auto;
    &__list {
      display: flex;
      margin: auto;
      padding-top: 5%;
      width: $container-size;
      justify-content: space-around;
      width: 70%;
      &__item {
        width: $quarter-size;
        text-align: center;
        &__icon {
          width: 60%;
          transform: scale(1);
          transition: transform 0.3s;
          &:hover {
            cursor: pointer;
          }
        }
        &__icon:hover {
          transform: scale(1.1);
          transition: transform 0.3s;
        }
      }
    }
    &__newsletter{
      text-align: center;
      margin-top: 8%;
      font-family: montserrat-regular;
      font-size: 1.3rem;
      &__link {
        color: $main-color;
      }
    }
    &__credit {
      text-align: center;
      color: $light-color;
      margin: 8% 0 3% 0;
      font-family: montserrat-regular;
      font-size: 1rem;
    }
  }
}
