.header {
  width: $container-size;
  background: $main-color;
  color: $secondary-color;
  grid-area: h;
  display: flex;
  align-items: center;
  height: 8vh;
  width: 100vw;

  &__logo-ctn {
    margin-left: 5%;
    width: 40%;
    @include tablet {
      width: 20%;
    }

    &__img {
      width: 90%;
    }
  }

  &__search-bar {
    width: 50%;
    background: $secondary-color;
    color: #fff;
    border-radius: 100px;
    font-size: 1rem;
    margin-right: 2%;
    font-family: $text-regular;
    border: solid 1px #000;
    height: 4vh;
  }

  &__profile-container {
    position: relative;
    display: inline-block;
    width: 10%;
    margin-right: 5%;
    margin-left: auto;

    &__img {
      width: 100%;
      cursor: pointer;
    }
  }
  &__dropdown-list {
    display: none;
    color: #fff;
    position: absolute;
    background: $secondary-color;
    width: 100vw;
    z-index: 1;
    right: 0;
    top: 8vh;
    height: 92vh;

    & > li:nth-child(odd) {
      background: $secondary-color;
    }
    & > li:nth-child(even) {
      background: $black-color;
    }

    &__items {
      display: block;
      height: 6vh;
      text-align: center;
      font-size: 4.5vw;
      text-transform: uppercase;
      padding-top: 3.2vh;
      font-family: $text-regular;
    }
  }
  /*&__categories-list {
    display: none;
    position: absolute;
  }

  &__menu-mobile {
    width: 13%;
    margin-right: 2%;
    margin-left: auto;
    @include tablet {
      display: none;
    }

    & div:nth-child(1) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    & div:nth-child(2) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    & div:nth-child(3) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &.--open div:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.--open div:nth-child(2) {
      width: 0;
      opacity: 0;
    }

    &.--open div:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &__burger {
      width: 100%;
      height: 0.6vh;
      background: $light-color;
      margin: 1vh 0;
    }
  }

  &__menu-mobile:hover {
    cursor: pointer;
  }

  &__menu {
    display: none;
    position: absolute;
    height: 91vh;
    font-family: $text-regular;
    z-index: 1;
    color: $light-color;
    top: 9vh;
    left: 0;
    width: 100%;
    @include tablet {
      display: flex;
      position: relative;
      height: 100%;
      width: 70%;
      top: 0;
    }
    &__item {
      &.--mobile {
        height: 6vh;
        text-align: center;
        font-size: 4.5vw;
        text-transform: uppercase;
        padding-top: 3.2vh;
        @include tablet {
          display: none;
        }
      }

      &.--tablet {
        display: none;
        @include tablet {
          display: block;
          font-size: 2vh;
        }
      }

      &.--desktop {
        display: none;
        @include desktop {
          display: block;
        }
      }
    }
    & > li:nth-child(odd) {
      background: $secondary-color;
      @include tablet {
        background: none;
      }
    }
    & > li:nth-child(even) {
      background: $black-color;
      @include tablet {
        background: none;
      }
    }
  }*/
}
